/* car */
.home-carousel .carousel-inner {
	width:100%;
	max-height: 388px !important;
}

.carousel-caption {
	left: 5% !important;
	right: 90% !important;
	bottom: 35px !important;
}

.carousel-caption.main h1 {
	font-size: 5vw;
}

.carousel-caption.main p {
	font-size: 16px;
}

/* home page */
.profile-image {
	height: 170px;
	width: auto;
	float: left;
	margin: 0px 10px 10px 0px;
}

#tw-widget1 ul {
	padding-left: 0px
}

.twitter-feed {
	background-color: lightgrey;
	padding: 5px 10px 10px 10px;
	margin-top: 30px;
}

.interact a {
	margin-right: 8px;
}

main {
	margin-top: 15px;
}

ul {
	list-style: none;
}

* {
	transition: all .05s ease;
}

.user {
	display: none;
}

.timePosted {
	font-size: 12px;
}

.the-music {
	margin-top: 45px;
	background-color: lightgrey;
	padding: 5px 10px 10px 10px;
}

.navbar {
	margin-bottom: 0px !important;
	background-color: white;
}

.navbar a {
	color: #222222 !important;
	background-color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #222;
}

.navbar-right {
	margin-right: 0px !important;
}

td a:not(.more) {
	color: #222 !important;
}

td.location, td.date, td.more {
	font-weight: 700;
}

td {
	vertical-align: middle !important;
}

td p {
	margin: 0px;
}

/*events*/
#hero-image {
	width: 100%;
	height: auto;
}

#event-container {
	margin-top: -250px;
	background-color: white;
	min-height: 150px;
	padding: 10px;
}

/*media*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
	.carousel-caption.main {
		left: 0% !important;
		right: 65% !important;
		bottom: 25% !important;
		text-align: left !important;
		padding: 0px 0px 0px 15px;
		background-color: rgba(34,34,34,.8);
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.carousel-caption.main {
		left: 0% !important;
		right: 65% !important;
		bottom: 5% !important;
		text-align: left !important;
		padding: 0px 0px 0px 15px;
		background-color: rgba(34,34,34,.8);
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.carousel-caption.main {
		left: 0% !important;
		right: 65% !important;
		bottom: 5% !important;
		width: 100%;
		text-align: left !important;
		padding: 0px 0px 0px 15px;
		background-color: rgba(34,34,34,.8);
	}

	.carousel-indicators {
		display:none !important;
	}
}