<table class="table">
	<tr>
		<td class="location">Location</td>
		<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam</td>
		<td style="font-size: 20px;"><a class="more" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
	</tr>
	<tr>
		<td class="location">Location</td>
		<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam</td>
		<td style="font-size: 20px;"><a class="more" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
	</tr>
	<tr>
		<td class="location">Location</td>
		<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam</td>
		<td style="font-size: 20px;"><a class="more" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
	</tr>
</table>