<div id="carousel-example-generic" class="carousel slide home-carousel" data-ride="carousel"
data-0="opacity: 1.0;" data-450="opacity:0.0;">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li  data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="images/vidone.png" alt="...">
    <div class="carousel-caption main">
      <h1>Trent Dransfield</h1>
      <p>Pianist and Composer</p>
    </div>
  </div>

  <div class="item">
    <img src="images/logan-3.jpg" alt="...">
    <div class="carousel-caption main">
      <h1>Events</h1>
    </div>
  </div>

  <div class="item">
    <img src="images/logan-one.jpg" alt="...">
    <div class="carousel-caption main">
      <h1>Store</h1>
    </div>
  </div>
</div>
</div>
